<div>
    <div class="alert alert-warning" ng-if="$ctrl.err">
        {{$ctrl.err}}
    </div>
    <div>
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
            <span>Upload Video</span>
            <input type="file" name="files[]">
        </span>
    </div>
    <p>Uploading: {{$ctrl.progress}}%</p>
    <div ng-if="$ctrl.videoHashedId"
         class="wistia_embed wistia_async_{{$ctrl.videoHashedId}}"
         style="width:640px;height:360px;"></div>
</div>
